<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36168062899-d90et24i34iu4h2t54m3tnp9k5rpp0ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36168062899-d90et24i34iu4h2t54m3tnp9k5rpp0ce</string>
	<key>API_KEY</key>
	<string>AIzaSyD3klO_EzkEJ1aabkLK2Ajvljp69_bRBzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>36168062899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umityusuferdem.FoursquareCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>foursquareclone-c12f2</string>
	<key>STORAGE_BUCKET</key>
	<string>foursquareclone-c12f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36168062899:ios:836467d3d1e05de45bddc6</string>
</dict>
</plist>